USE [master]
GO
/****** Object:  Database [RazorPageBlog]    Script Date: 2020/5/17 下午 06:55:53 ******/
CREATE DATABASE [RazorPageBlog]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RazorPageBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RazorPageBlog]
GO
USE [RazorPageBlog]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 2020/5/17 下午 06:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CoverPhoto] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Tags] [nvarchar](max) NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagCloud]    Script Date: 2020/5/17 下午 06:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagCloud](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_TagCloud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TagCloud] ([Id], [Name], [Amount]) VALUES (N'181f37e0-c5a9-4df6-a2d5-1f739448307e', N'twMVC', 14)
INSERT [dbo].[TagCloud] ([Id], [Name], [Amount]) VALUES (N'df885da5-7631-4279-8247-4e133d31feca', N'demoshop', 12)
INSERT [dbo].[TagCloud] ([Id], [Name], [Amount]) VALUES (N'4b985655-03b6-4250-8823-aca4791acda3', N'Dotblogs', 10)
USE [master]
GO
