@page
@model SkillTreeRazorPageBlogSample.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.Id" />
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Body" class="control-label">(支援Markdown語法)</label>
                <textarea asp-for="Article.Body" class="form-control"> </textarea>
                <span asp-validation-for="Article.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.CoverPhoto" class="control-label"></label>
                <input asp-for="Article.CoverPhoto" class="form-control" />
                <span asp-validation-for="Article.CoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.CreateDate" class="control-label"></label>
                <input asp-for="Article.CreateDate" class="form-control" />
                <span asp-validation-for="Article.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Tags" class="control-label"></label>
                <input asp-for="Article.Tags" class="form-control" />
                <span asp-validation-for="Article.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
